<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hyva_react_checkout>
            <general>
                <enable/>
            </general>
        </hyva_react_checkout>
        <csp>
            <mode>
                <storefront_hyvaReactCheckout_reactcheckout_index>
                    <report_only>1</report_only>
                </storefront_hyvaReactCheckout_reactcheckout_index>
            </mode>
            <policies>
                <storefront_hyvaReactCheckout_reactcheckout_index>
                    <scripts>
                        <inline>0</inline>
                        <eval>0</eval>
                        <event_handlers>1</event_handlers>
                    </scripts>
                </storefront_hyvaReactCheckout_reactcheckout_index>
            </policies>
        </csp>
    </default>
</config>
