body {
    @apply bg-container;
}

#cart-drawer {
    @apply text-black;
}

[x-cloak] {
    display: none;
}

.input {
    @apply w-auto px-4 py-2 mr-2 text-base border rounded md:mr-4 lg:mr-0 xl:mr-4;

    &-light {
        @apply bg-white border-gray-400;

        &:focus {
            @apply outline-none border-primary;
        }
    }
}

.card {
    @apply p-4 rounded-sm shadow bg-container-lighter;
}

.card-interactive {
    &:hover {
        @apply bg-container;
    }
}
