<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="checkout_checkout_index_action_plugin" type="Hyva\Checkout\Plugin\CheckoutController\Index"/>
    </type>
    <type name="Magento\Customer\Controller\Ajax\Login">
        <arguments>
            <argument name="resultJsonFactory"
                      xsi:type="object">Hyva\Checkout\Result\JsonFactory</argument>
        </arguments>
        <plugin name="hyva_checkout_customer_ajax_login_plugin"
                type="Hyva\Checkout\Plugin\CustomerController\AjaxLogin" />
    </type>
</config>
